@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Discussions</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="TopicPage" asp-action="Create" class="btn btn-primary">
                Create New Topic
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Topic
            </th>
            <th>
                Messages
            </th>
            <th>
                Last message
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Header
                </td>
                <td>
                    @obj.Messages?.Count
                </td>
                <td>
                    @(obj.Messages?
                    .OrderBy(p => p.CreatedDateTime)
                    .FirstOrDefault()?
                    .CreatedDateTime)
                    
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="TopicPage" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>&nbsp;
                        <a asp-controller="TopicPage" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>